 <!-- Distribuição de Compra -->
 <div class="col-md-6">
    <div class="table-responsive">
      <table class="table table-bordered text-center align-middle">
        <thead class="table-warning">
          <tr>
            <th colspan="4">DISTRIBUIÇÃO DE COMPRA</th>
          </tr>
          <tr class="table-primary">
            <th>QTD</th>
            <th>VALOR</th>
            <th>TOTAL</th>
            <th>SALDO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>R$</td>
            <td>-</td>
            <td>R$ 0,09</td>
          </tr>
          <tr>
            <td>0</td>
            <td>R$</td>
            <td>-</td>
            <td>R$ 0,75</td>
          </tr>
          <tr>
            <td>0</td>
            <td>R$</td>
            <td>-</td>
            <td>R$ 1,10</td>
          </tr>
          <tr>
            <td>0</td>
            <td>R$</td>
            <td>-</td>
            <td>R$ 0,74</td>
          </tr>
          <tr>
            <td>0</td>
            <td>R$</td>
            <td>-</td>
            <td>R$ 0,74</td>
          </tr>
          <tr>
            <td>0</td>
            <td>R$</td>
            <td>-</td>
            <td>R$ 0,74</td>
          </tr>
          <tr>
            <td>0</td>
            <td>R$</td>
            <td>-</td>
            <td>R$ 0,95</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>