<div class="modal-header">
    <h5 class="modal-title" id="cadastroModalLabel">
        {% if form.instance.pk %}
            Editar Ativo
        {% else %}
            Inserir Ativo
        {% endif %}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>

<div class="modal-body">
    <!-- Formulário de Cadastro -->
    <form method="POST" id="form-preco-teto" data-url="/plan-metas"
          action="{% url 'create_plan' %}">
        {% csrf_token %}
        
        <div class="mb-3">
            <label>Classe do ativo</label>
            <select id="id_classe" name="classe" class="form-control">
                {% for value, label in form.fields.classe.choices %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Ativo</label>
            <select id="id_id_ativo" name="id_ativo" class="form-control">
                <option value="">Selecione uma classe primeiro...</option>
            </select>
        </div>

        {% comment %} <div class="mb-3">
            <label>Quantidade</label>
            {{form.qtd}}
        </div> {% endcomment %}

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Atualizar{% else %}Cadastrar{% endif %}</button>
        </div>
    </form>
</div>