{% extends 'global/base.html' %}
{% block title %}
  Plano de metas
{% endblock %}
{% block content %}
  {% include 'global/componentes/menssage.html' %}
  <p id="successMessageCotacao" style="display: none;" class="alert alert-success">
    <!-- A mensagem será inserida aqui -->
  </p>

  <div class="col-md-12 card">
    <div class="row" style="display:flex">
      {% comment %} {% if lists %}
        {% endcomment %}
        {% include 'plan_metas/table.html' %}

        {% comment %} {% include 'plan_metas/calculadora_fii.html' %} {% endcomment %}
        {% comment %}
      {% else %}
        <p class="h3">Nenhum registro encontrado.</p>
      {% endif %} {% endcomment %}
    </div>
  </div>
  {% include 'plan_metas/partials/modal-msg.html' %}
  {% include 'global/componentes/modal_forms.html' %}
  {% include 'global/componentes/modal_geral.html' %}
  {% include 'global/componentes/pagination.html' %}
{% endblock %}
