
{% block content %}
<p id="successMessageCotacao" style="display: none;" class="alert alert-success">
    <!-- A mensagem será inserida aqui -->
</p>

<div class="container mt-4">
<div style="display: flex; align-items: center;">
<form action="#" method="GET" class="filter-product">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="tipo_calc" id="flexRadioDefault1" value="FII" 
        {% if request.GET.tipo_calc == "FII" %} checked {% endif %}
        hx-get="{% url 'calculadora_plan' %}?tipo_calc=FII"
        hx-target="#ModalGeralContent"
        hx-swap="innerHTML">
    <label class="form-check-label" for="flexRadioDefault1">
      Fundos Imobiliários
    </label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="tipo_calc" id="flexRadioDefault2" value="Ação" 
        {% if request.GET.tipo_calc == "Ação" %} checked {% endif %}
        hx-get="{% url 'calculadora_plan' %}?tipo_calc=Ação"
        hx-target="#ModalGeralContent"
        hx-swap="innerHTML">
    <label class="form-check-label" for="flexRadioDefault2">
      Ações
    </label>
  </div>
</form>
<h3 class="">Aportes para {{request.GET.tipo_calc}}</h3>
</div>
<br>

{% if is_ativo %}
<table class="table table-bordered text-center align-middle">
    <thead class="table-dark">
        <tr>
            <th>VALOR</th>
            <th colspan="{% if request.GET.tipo_calc == "FII" %}3{% else %}2{% endif %}">
                <span 
                    id="valor-investimento"  
                    data-field="valor_investimento"
                    class="form-control editable-meta text-center"
                    data-meta-id="{{ id_class }}" 
                    contenteditable="true">
                    R$ {{ valor_investimento|floatformat:2 }}
                </span>
            </th>
            <th colspan="2">
                SALDO <span id="saldoAtual">R$ {{ saldo }}</span>
            </th>
        </tr>
        <tr class="bg-primary">
            <th>ATIVOS</th>
            <th>QTD</th>
            <th>COTAÇÃO</th>
            <th>TOTAL</th>

            {% if request.GET.tipo_calc == "FII" %}
                <th class="prov-col">PROV</th>
                <th class="prov-col">TOTAL PROV</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for ativo in ativos %}
        <tr>
            <td>{{ ativo.ativo }}</td>
            <td>
                <span 
                    class="form-control editable-meta text-center"
                    contenteditable="true" 
                    data-field="qtd_calc"
                    data-meta-id="{{ ativo.pk }}">
                    {{ ativo.qtd_calc }}
                </span>
            </td>
            <td>R$ {{ ativo.cotacao }}</td>
            <td class="total-ativo">R$ {{ ativo.total }}</td>

            {% if request.GET.tipo_calc == "FII" %}
                <td class="prov-col">
                    <span 
                        class="form-control editable-meta text-center" 
                        contenteditable="true" 
                        data-field="proventos"
                        data-meta-id="{{ ativo.pk }}">
                        {{ ativo.proventos }}
                    </span>
                </td>
                <td class="prov-col">
                    R$ {{ ativo.total_provento|floatformat:2 }}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning" role="alert">
        <strong>ATENÇÃO:</strong> Não há ativos cadastrados para o tipo de investimento selecionado.
    </div>
{% endif %}
</div>

{% endblock %}
