<table class="table table-bordered text-center align-middle">
    <thead class="table-dark">
        <tr>
            <th>VALOR</th>
            <th colspan="2">
                <span 
                id="valor-investimento"  
                data-field="valor_investimento"
                class="form-control editable-meta text-center"
                data-meta-id="{{id_class}}" 
                contenteditable="true" >R$ {{valor_investimento|floatformat:2}}
                </span>
            </th>
            <th colspan="2">SALDO {{saldo}} </th>
        </tr>
        <tr>
            <th class="bg-info">ATIVOS</th>
            <th class="bg-info">QTD</th>
            <th class="bg-info">COTAÇÃO</th> <!-- Nova Coluna -->
            <th class="bg-info">TOTAL</th>
        </tr>
    </thead>
    <tbody>
      {% for ativo in ativos %}
        {% if ativo.acao %} 
        <tr>
          <td>{{ ativo.acao }}</td> 
          <td>
            <span 
            class="form-control editable-meta text-center"
            contenteditable="true" 
            data-field="qtd_calc"
            data-meta-id="{{ ativo.pk }}">
              {{ ativo.qtd_calc }}
            </span>
          </td>
          <td>R$ {{ ativo.cotacao }}</td>
          <td>{{ ativo.total }}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  