 <div class="row justify-content-between g-4 header-info-ativo " >
  <div class="col-12 col-md-auto">
    <div class="info-box">
      <div class="title">CNPJ</div>
      <div class="value">{{ lists.cnpj }}</div>
      <div class="bar bar-green"></div>
    </div>
  </div>
   <div class="col-12 col-md-auto">
    <div class="info-box">
      <div class="title">Ticket</div>
      <div class="value">{{ lists.ticket }}</div>
      <div class="bar bar-pink"></div>
    </div>
  </div>
  <div class="col-12 col-md-auto">
    <div class="info-box">
      <div class="title">Classe</div>
      <div class="value">{{ lists.classe }}</div>
      <div class="bar bar-blue"></div>
    </div>
  </div>
  <div class="col-12 col-md-auto">
    <div class="info-box">
      <div class="title">Setor</div>
      <div class="value">{{ lists.setor }}</div>
      <div class="bar bar-yellow"></div>
    </div>
  </div>
  <div class="col-12 col-md-auto">
    <div class="info-box">
      <div class="title">Corretora</div>
      <div class="value">{{ lists.corretora.apelido }}</div>
      <div class="bar bar-red"></div>
    </div>
  </div>
  <div class="col-12 col-md-auto">
    <div class="info-box">
      <div class="title">Cotação Atual</div>
      <div class="value">{{ lists.cotacao }}</div>
      <div class="bar bar-purple"></div>
    </div>
  </div>
  <div class="col-12 col-md-auto">
    <div class="info-box">
      <div class="title">Preco Médio</div>
      <div class="value">{{ lists.preco_medio}}</div>
      <div class="bar bar-dark"></div>
    </div>
  </div>
</div>