<div class="row text-center" style="height: 100%;">
  <div class="col-md-4">
    <div class="card text-white gradiente-azul mb-3 position-relative">
      <div class="position-absolute top-0 end-0 p-3">
        <i class="bi bi-piggy-bank fs-2"></i>
      </div>
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title fs-5">Patrimônio</h5>
        <p class="card-text fs-4 fw-bold">{{ lists.patrimonio }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white gradiente-roxo mb-3 position-relative">
      <div class="position-absolute top-0 end-0 p-3">
        <i class="bi bi-graph-up-arrow fs-2"></i>
      </div>
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title fs-5">Ganhos</h5>
        <p class="card-text fs-4 fw-bold">{{ lists.valorizacao }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white {% if lists.rentabilidade > 0 %} gradiente-verde {% else %}gradiente-vermelho {% endif %} mb-3 position-relative">
      <div class="position-absolute top-0 end-0 p-3">
        <i class="bi bi-cash-coin fs-2"></i>
      </div>
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title fs-5">Rentabilidade</h5>
        <p class="card-text fs-4 fw-bold">{{ lists.rentabilidade|floatformat:2 }}%</p>
      </div>
    </div>
  </div>
</div>
