

<div class="row" id="line-1">
    <div class="col-md-3 text-center">
        <div class="card bg-primary">
            <div class="d-flex justify-content-between align-items-center px-2">
            <h5 class="card-title text-center ">
                Total de {% if lists.classe == 'Ação' %}Ações{% else %}Cotas{% endif %}
            </h5>
            {% comment %} <a href="#" 
            title="Ver gráfico" 
            class="position-absolute top-0 end-0 m-2 text-muted"
            data-bs-toggle="modal" 
            data-bs-target="#graficoModal"
            data-chart="ativo"
            >
             <i class="bi bi-bar-chart fs-5"></i>
         </a> {% endcomment %}
        </div>
            <h5 class="card-title text-center display-6">{{lists.qtdAtivo}}</h5>
        </div>
    </div>
   
    <div class="col-md-3 text-center">
        <div class="card">
            <p class="card-title mb-0">Investimento</p>
            <h5 class="card-title text-center display-6">{{ lists.investimento }}</h5>
        </div>
    </div>

    <div class="col-md-3 text-center">
        <div class="card">
            <p class="card-title text-center ">Preço Médio</p>
            <h5 class="card-title text-center display-6">{{lists.preco_medio}}</h5>
        </div>
    </div>

    <div class="col-md-3 text-center">
        <div class="card">
            <p class="card-title text-center">Valor de Mercado</p>
            <h5 class="card-title text-center display-6">{{lists.valor_mercado}}</h5>
        </div>
    </div>
</div>

<div class="row mt-4" id="line-2">
 

    <div class="col-md-3 text-center">
        <div class="card  ">
            <div class="d-flex justify-content-between align-items-center px-2">
                <p class="card-title mb-0">Dividendos</p>
                {% comment %} <a href="#" 
                title="Ver gráfico" 
                class="position-absolute top-0 end-0 m-2 text-muted"
                data-bs-toggle="modal" 
                data-bs-target="#graficoModal"
                data-chart="proventos">
                 <i class="bi bi-bar-chart fs-5"></i>
             </a> {% endcomment %}
            </div>
            <h5 class="card-title text-center display-6">{{lists.proventos}}</h5>
        </div>
    </div>

    <div class="col-md-3 text-center">
        <div class="card">
            <div class="d-flex justify-content-between align-items-center px-2">
                <p class="card-title mb-0">Patrimônio</p>
                {% comment %} <a href="#" 
                   title="Ver gráfico" 
                   class="position-absolute top-0 end-0 m-2 text-muted"
                   data-bs-toggle="modal" 
                   data-bs-target="#graficoModal"
                   data-chart="patrimonio">
                    <i class="bi bi-bar-chart fs-5"></i>
                </a> {% endcomment %}
            </div>
            <h5 class="card-title text-center display-6">{{lists.patrimonio}}</h5>
        </div>
    </div>

    <div class="col-md-3 text-center">
        <div class="card {% if lists.rentabilidade < 0 %} bg-danger {% else %}bg-success{% endif %}">
            <p class="card-title text-center ">
                {% if lists.rentabilidade < 0 %} Perdas {% else %}Ganhos{% endif %}</p>
            <h5 class="card-title text-center display-6">{{lists.valorizacao}}</h5>
        </div>
    </div>

    <div class="col-md-3 text-center">
        <div class="card {% if lists.rentabilidade < 0 %} bg-danger {% else %}bg-success{% endif %}">
            <div class="d-flex justify-content-between align-items-center px-2">
                <p class="card-title mb-0">Rentabilidade</p>
                {% comment %} <a href="#" 
                title="Ver gráfico" 
                class="position-absolute top-0 end-0 m-2 text-muted"
                data-bs-toggle="modal" 
                data-bs-target="#graficoModal"
                data-chart="rentabilidade">
                 <i class="bi bi-bar-chart fs-5"></i>
             </a> {% endcomment %}
                   
            </div>
            <h5 class="card-title text-center display-6">{{lists.rentabilidade|floatformat:2}}%</h5>
        </div>
    </div>
</div>


<div class="container">
    <div class="graficos-container">
        <div id="operaca-ativo" class="grafico"></div>
         <div id="proventos-ativo" class="grafico" ></div>
    </div> 
</div>


{% include "ativos/partials/modal.html" %}