

<div class="card-header themes-dark">
<span class="d-inline-flex align-items-center fs-5">
  <i class="bi bi-cash-stack me-1"></i>
  <i class="bi bi-caret-up-fill text-success"></i> Preço Teto FII
</span>
</div>
    <table class="table table-striped align-middle fs-6">
  <thead >
    <tr>
      <th>Ativo</th>
      {% comment %} <th>Classe</th>
      <th>Rentabilidade</th> {% endcomment %}
      <th>Cotacao</th>
      <th>Preco Teto</th>
      <th>Diferença</th>
      <th>Margem de segurança</th>
      <th>Recomendação</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody id="tbodyAtivos">
    {% for list in lista_ativos_fii %}
      <tr hx-target="this" hx-swap="outerHTML">
        <td>{{ list.ativo }}</td>
        {% comment %} <td>{{ list.classe }}</td>
        <td>{{ list.rentabilidade }}</td> {% endcomment %}
        <td>{{ list.cotacao }}</td>
        <td>R$ {{ list.preco_teto|floatformat:2 }}</td> <!-- Formato de moeda -->
        <td class="{% if list.diferenca > 0 %}
            text-success
          {% else %}
            text-danger
          {% endif %}">R$ {{ list.diferenca|floatformat:2 }}</td> <!-- Formato de moeda -->
        <td class="{% if list.diferenca < 0 %}
            text-success
          {% else %}
            text-danger

          {% endif %} text-center">{{ list.margem_seguranca|floatformat:2 }}%</td>
        <td>
          <span class="badge {% if list.diferenca < 0 %}
              bg-success
            {% else %}
               bg-danger
            {% endif %}">
            {{ list.recomendacao }}
          </span>
        </td>
        <td>
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-1">
          <!-- btn visualizar -->
          {% comment %} <a href="#" class="btn btn-info btn-sm"><i class="bi bi-eye-fill"></i></a> {% endcomment %}

          <!-- btn Atualizar -->
          <a href="#" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#cadastroModal" hx-get="{% url 'update_preco_teto' list.pk %}" hx-target="#addContent" hx-swap="innerHTML"><i class="bi bi-pencil-fill"></i></a>
          <!-- btn deleter -->
          <a onclick="modal(this)" data-page="preco" data-name="{{ list.ativo }}" data-id="{{ list.pk }}" href="#" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i></a> 
        </td>
      </div>
      </tr>
    {% endfor %}
  </tbody>
</table>



