

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Ativo</th>
            <th>Tiket</th>
            <th>setor</th>
            <th>Cotaçao</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="tbodyAtivos">
        {% for list in lists %}
            <tr>
                <td>{{ list.ativo }}</td>
                <td>{{ list.ticket }}</td>
                <td>{{ list.setor }}</td>
                <td>{{ list.cotacao }}</td>
                <td style="width:8em">

                    <!--btn visualizar-->
                    <a href="#" class="btn btn-info btn-sm"><i class="bi bi-eye-fill"></i></a>

                    <!--btn Atualizar-->
                    <a href="#" class="btn btn-warning btn-sm" data-bs-toggle="modal" 
                    data-bs-target="#cadastroModal"
                    {% comment %} hx-get = {% url "update_ativo" list.pk %} {% endcomment %}
                    hx-target = "#addContent"
                    hx-swap = "innerHTML"
                    ><i class="bi bi-pencil-fill"></i></a>

                    <!--btn deleter-->
                    <a  onclick="modal(this)" 
                    data-page="ativo" 
                    data-name="{{list.ativo}}" 
                    data-id="{{list.pk}}"
                     href="#" 
                     class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>