<div class="modal-header">
    <h5 class="modal-title" id="cadastroModalLabel">
        {% if form.instance.pk %}
            Editar Proventos
        {% else %}
            Cadastrar Novo Proventos
        {% endif %}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>

<div class="modal-body">
    <!-- Formulário de Cadastro -->
    <form  method="POST"
    action="{% if form.instance.pk %}{% url 'update_proventos' form.instance.pk %}{% else %}{% url 'create_proventos' %}{% endif %}">
     
        {% csrf_token %}
        {% for field in form %}
     
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
           
            {{ field.errors }}
            {% if field.help_text %}
              <small class="text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
        </div>

        {% endfor %}

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Atualizar{% else %}Cadastrar{% endif %}</button>
        </div>
    </form>
</div>