{% extends "global/base.html" %}
{% block title %}Dividendos{% endblock title %}
{% block content %}
{% include "global/componentes/menssage.html" %}
<p class="h3">Dividendos</p>

<div class="d-flex flex-wrap justify-content-between align-items-start gap-3 mb-3" >
    
    <!-- Formulário de Filtros -->
    <form action="#" method="GET" class="d-flex flex-wrap align-items-center gap-2">
        <!-- Campo Ativo -->
        <input type="text" class="form-control w-auto" style="min-width: 120px;" name="ativo" placeholder="Ativo" value="{{ request.GET.ativo }}">

        <!-- Classe -->
        <select name="classe_ativos" class="form-select w-auto" style="min-width: 120px;" onchange="this.form.submit()">
            <option value="">Classe</option>
            <option value="Ação" {% if request.GET.classe_ativos == "Ação" %}selected{% endif %}>Ação</option>
            <option value="FII" {% if request.GET.classe_ativos == "FII" %}selected{% endif %}>FII</option>
            <option value="FII-Infra" {% if request.GET.classe_ativos == "FII-Infra" %}selected{% endif %}>FII-Infra</option>
            <option value="FII-Agro" {% if request.GET.classe_ativos == "FII-Agro" %}selected{% endif %}>FII-Agro</option>
        </select>

        <!-- Tipo Proventos -->
        <select name="tipo_proventos" class="form-select w-auto" style="min-width: 130px;" onchange="this.form.submit()">
            <option value="">Proventos</option>
            <option value="Dividendos" {% if request.GET.tipo_proventos == "Dividendos" %}selected{% endif %}>Dividendos</option>
            <option value="JCP" {% if request.GET.tipo_proventos == "JCP" %}selected{% endif %}>JCP</option>
        </select>

        <!-- Status -->
        <select name="status" class="form-select w-auto" style="min-width: 110px;" onchange="this.form.submit()">
            <option value="">Status</option>
            <option value="PAGO" {% if request.GET.status == "PAGO" %}selected{% endif %}>PAGO</option>
            <option value="A PAGAR" {% if request.GET.status == "A PAGAR" %}selected{% endif %}>A PAGAR</option>
        </select>

        <!-- Mês -->
        <select name="mes" class="form-select w-auto" style="min-width: 90px;" onchange="this.form.submit()">
            <option value="">Mês</option>
            {% for numero, nome in meses %}
                <option value="{{ numero }}" {% if request.GET.mes == numero|stringformat:"s" %}selected{% endif %}>{{ nome }}</option>
            {% endfor %}
        </select>

        <!-- Ano -->
        <select name="anos" class="form-select w-auto" style="min-width: 90px;" onchange="this.form.submit()">
            <option value="">Ano</option>
            {% for ano in anos %}
                <option value="{{ ano }}" {% if request.GET.anos == ano|stringformat:"s" %}selected{% endif %}>{{ ano }}</option>
            {% endfor %}
        </select>

        <!-- Botão de ação -->
        <div>
            {% if request.GET.ativo or request.GET.mes or request.GET.anos or request.GET.classe or request.GET.tipo_proventos or request.GET.classe_ativos or request.GET.status %}
                <a href="{% url "list_proventos" %}" class="btn btn-primary"><i class="bi bi-x-lg"></i></a>
            {% else %}
                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            {% endif %}
        </div>
    </form>

    <!-- Botões de ação -->
    <div class="d-flex gap-2">
        <a href="#" class="btn btn-success" id="iniciarPesquisaBtn" data-url="{% url 'pesquisar_proventos' %}">
            <i class="bi bi-search"></i> Pesquisar Pagamento
        </a>

        <a href="#" class="btn btn-primary" 
           data-bs-toggle="modal" 
           data-bs-target="#cadastroModal"
           hx-get="{% url 'create_proventos' %}"
           hx-target="#addContent"
           hx-swap="innerHTML">
            <i class="bi bi-plus"></i> Cadastrar
        </a>
    </div>
</div>

<!-- Tabela -->
<div class="table-responsive">
    {% if lists %}
        {% include "proventos/table.html" %}
    {% else %}
        <p class="h3">Nenhum registro encontrado.</p>
    {% endif %}
</div>

{% include "global/componentes/modal_forms.html" %}
{% include "global/componentes/pagination.html" %}
{% endblock %}
