<div class="card-header themes-dark">
  <!-- Título -->
  <div class="row">
    <div class="col-12 d-flex align-items-center">
      <span class="fs-4 text-white">
        <i class="bi bi-cash me-2"></i> Lista de Rendimentos
      </span>
    </div>
  </div>

  <!-- Formulário de filtros -->
 <!-- Formulário de filtros responsivo -->
<form action="#" method="GET">
  <div class="row row-cols-auto g-2 align-items-end">
    
    <!-- Ativo -->
    <div class="col" style="width: 100px;">
      <input type="text" class="form-control" name="ativo" placeholder="Ativo" value="{{ request.GET.ativo }}">
    </div>

    <!-- Classe -->
    <div class="col">
      <select name="classe_ativos" class="form-select" onchange="this.form.submit()">
        <option value="">Classe</option>
        <option value="Ação" {% if request.GET.classe_ativos == "Ação" %}selected{% endif %}>Ação</option>
        <option value="FII" {% if request.GET.classe_ativos == "FII" %}selected{% endif %}>FII</option>
        <option value="FII-Infra" {% if request.GET.classe_ativos == "FII-Infra" %}selected{% endif %}>FII-Infra</option>
        <option value="FII-Agro" {% if request.GET.classe_ativos == "FII-Agro" %}selected{% endif %}>FII-Agro</option>
      </select>
    </div>

    <!-- Proventos -->
    <div class="col">
      <select name="tipo_proventos" class="form-select" onchange="this.form.submit()">
        <option value="">Proventos</option>
        <option value="Dividendos" {% if request.GET.tipo_proventos == "Dividendos" %}selected{% endif %}>Dividendos</option>
        <option value="JCP" {% if request.GET.tipo_proventos == "JCP" %}selected{% endif %}>JCP</option>
      </select>
    </div>

    <!-- Status -->
    <div class="col">
      <select name="status" class="form-select" onchange="this.form.submit()">
        <option value="">Status</option>
        <option value="PAGO" {% if request.GET.status == "PAGO" %}selected{% endif %}>PAGO</option>
        <option value="A PAGAR" {% if request.GET.status == "A PAGAR" %}selected{% endif %}>A PAGAR</option>
      </select>
    </div>

    <!-- Mês -->
    <div class="col" style="width: 100px;">
      <select name="mes" class="form-select" onchange="this.form.submit()">
        <option value="">Mês</option>
        {% for numero, nome in meses %}
          <option value="{{ numero }}" {% if request.GET.mes == numero|stringformat:"s" %}selected{% endif %}>{{ nome }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Ano -->
    <div class="col">
      <select name="anos" class="form-select" onchange="this.form.submit()">
        <option value="">Ano</option>
        {% for ano in anos %}
          <option value="{{ ano }}" {% if request.GET.anos == ano|stringformat:"s" %}selected{% endif %}>{{ ano }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Botão -->
    <div class="col">
      {% if request.GET.ativo or request.GET.mes or request.GET.anos or request.GET.classe or request.GET.tipo_proventos or request.GET.classe_ativos or request.GET.status %}
        <a href="{% url "list_proventos" %}" class="btn btn-danger"><i class="bi bi-x-lg"></i></a>
      {% else %}
        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
      {% endif %}
    </div>

  </div>
</form>

</div>


{% if lists %}
  <!-- Tabela responsiva -->
  <div class="table-responsive mt-3">
    <table class="table table-striped align-middle fs-5" id="table-ativo">
      <thead>
        <tr class="text-center">
            <th>Ativo</th>
            <th>Classe</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Qtd cota</th>
            <th>valor por cota/ação</th>
            <th>Data pagamento</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="tbodyAtivos">
        {% for list in lists %}
            <tr class="text-center">
                <td>{{ list.ativo }}</td>
                <td>{{ list.classe }}</td>
                <td>{{ list.tipo }}</td>
                <td>R$ {{ list.valor|floatformat:2 }}</td> <!-- Formato de moeda -->
                <td>{{ list.qtd_cota }}</td>
                <td>R$ {{ list.valor_por_cota|floatformat:2 }}</td> <!-- Formato de moeda -->
                <td>{{ list.data_pgto|date:"d/m/Y"}}</td>
                <td><span class="{% if list.status == 'PAGO' %}badge bg-success{% else %}badge bg-danger{% endif %}">
                    {{ list.status }}
                </span></td>
                <td style="width:8em">

                    {% comment %} <!--btn visualizar-->
                    <a href="#" class="btn btn-info btn-sm"><i class="bi bi-eye-fill"></i></a> {% endcomment %}

                    <!--btn Atualizar-->
                    <a href="#" class="btn btn-warning btn-sm" data-bs-toggle="modal" 
                    data-bs-target="#cadastroModal"
                    hx-get = {% url "update_proventos" list.pk %} 
                    hx-target = "#addContent"
                    hx-swap = "innerHTML"
                    ><i class="bi bi-pencil-fill"></i></a>

                    <!--btn deleter-->
                    <a  onclick="modal(this)" 
                    data-page="proventos" 
                    data-name="{{list.ativo}}" 
                    data-id="{{list.pk}}"
                     href="#" 
                     class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
  </div>
{% else %}
  <br />
  <p class="h3">Nenhum registro encontrado.</p>
{% endif %}
