{% extends "global/base.html" %}
{% load static %}

{% block extra_scripts %}
<script src="{% static 'global/js/charts/ativos.js' %}"></script>
<script src="{% static 'global/js/charts/metric.js' %}"></script>
<script src="{% static 'global/js/charts/patrimonio.js' %}"></script>
<script src="{% static 'global/js/charts/dividendos.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
{% endblock %}

{% block title %}Sistema controle de dividendos - Dashboard{% endblock title %}

{% block content %}
<p class="h3">{{ title }}</p>
<h1>Página Dashboard</h1>

<div class="container">
    <p class="h3">Patrimônio</p>
    <div class="graficos-container">
        <div id="patrimonio" class="grafico"></div>
        <div id="patrimonio" class="grafico">

        {% include "dash/partials/metrics_patrimonio.html" %}
        
        </div>
       
    </div> 
</div>

<div class="container">
    <p class="h3">Ativos</p>
    <div class="graficos-container">
        <div id="ativo-por-classe" class="grafico"></div>
        <div class="grafico">
        {% include "dash/charts/filter_ativo.html" %}
         <div id="ativo-por-setor" class="grafico" ></div>
        </div>
    </div> 
</div>


{% endblock %}
