<div class="modal-header">
  <h5 class="modal-title" id="cadastroModalLabel">
    {% if form.instance.pk %}
      Editar Operação
    {% else %}
      Cadastrar Nova Operação
    {% endif %}
  </h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>

<div class="modal-body">
  <form method="POST"
     data-url="/operacao"
    action="{% if form.instance.pk %}
      {% url 'update_operacao' form.instance.pk %}
    {% else %}
      {% url 'create_operacao' %}
    {% endif %}">
    {% csrf_token %}

    <div class="container-fluid">
      <div class="row">
        {% for field in form %}
          <div class="col-md-6 mb-3">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            {% if field.help_text %}
              <small class="text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Cancelar</button>
      <button type="submit" class="btn btn-primary">
        {% if form.instance.pk %}
          <i class="bi bi-arrow-clockwise"></i> Atualizar
        {% else %}
             <i class="bi bi-floppy me-1"></i> Salvar
        {% endif %}
      </button>
    </div>
  </form>
</div>
