<div class="modal-header">
    <h5 class="modal-title" id="cadastroModalLabel">
        {% if form.instance.pk %}
            Editar Operação
        {% else %}
            Cadastrar Novo Operação
        {% endif %}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>

<div class="modal-body">
    <!-- Formulário de Cadastro -->
    <form  method="POST"
    action="{% if form.instance.pk %}{% url 'update_operacao' form.instance.pk %}{% else %}{% url 'create_operacao' %}{% endif %}">
     
        {% csrf_token %}
        {% for field in form %}
     
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
           
                <!-- Campo de Setor -->

                <!-- Botão Adicionar Setor -->
                {% if field.name == 'setor' %}
                <a href="#" class="btn btn-info" id="add-sector-btn" 
                data-bs-toggle="modal" 
                data-bs-target="#cadastroModal"
                hx-get = {% url "create_setor" %}
                hx-target = "#addContent"
                hx-swap = "innerHTML">
                    <i class="bi bi-plus"></i>Cadastrar
                </a>
                {% endif %}
        
            {{ field.errors }}
            {% if field.help_text %}
              <small class="text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
        </div>

        {% endfor %}

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Atualizar{% else %}Cadastrar{% endif %}</button>
        </div>
    </form>
</div> 