{% extends "global/base.html" %}
{% block title %}Operação{% endblock title %}
{% block content %}
{% include "global/componentes/menssage.html" %}
<p class="h3">Operação</p>
    <div class="row mb-3">
        <div class="col-md-6">
            <form action="#" method="GET">
                <div class="row g-2 align-items-center">
                    <!-- Campo de pesquisa -->
                    <div class="col-md">
                        <input type="text" class="form-control" name="ativo" placeholder="Ativo" value="{{ request.GET.ativo }}">
                    </div>

                           <!-- Classe -->
                           <div class="col-md">
                            <select name="classe_ativos" class="form-select" onchange="this.form.submit()">
                                <option value="">Classe</option>
                                <option value="Ação" {% if request.GET.classe_ativos == "Ação" %}selected{% endif %}>Ação</option>
                                <option value="FII" {% if request.GET.classe_ativos == "FII" %}selected{% endif %}>FII</option>
                                <option value="FII-Infra" {% if request.GET.classe_ativos == "FII-Infra" %}selected{% endif %}>FII-Infra</option>
                                <option value="FII-Agro" {% if request.GET.classe_ativos == "FII-Agro" %}selected{% endif %}>FII-Agro</option>
                            </select>
                        </div>

                           <!-- Operação -->
                           <div class="col-md-3">
                            <select name="operacao" class="form-select" onchange="this.form.submit()">
                                <option value="">Operação</option>
                                <option value="Compra" {% if request.GET.operacao == "Compra" %}selected{% endif %}>Compra</option>
                                <option value="Venda" {% if request.GET.operacao == "Venda" %}selected{% endif %}>Venda</option>
                                <option value="Bonificação" {% if request.GET.operacao == "Bonificação" %}selected{% endif %}>Bonificação</option>
                                <option value="Desdobramento" {% if request.GET.operacao == "Desdobramento" %}selected{% endif %}>Desdobramento</option>
                            </select>
                        </div>
            
                    <!-- Mês -->
                    <div class="col-md">
                   
                    <select name="mes" class="form-select" onchange="this.form.submit()">
                        <option value="">Mês</option>
                    {% for numero, nome  in meses %}
                    <option value="{{ numero }}" {% if request.GET.mes == numero|stringformat:"s" %}selected{% endif %}>
                        {{ nome }}
                    </option>
                    {% endfor %} 
                    </select>
                    </div>
            
                    <!-- Ano -->
                    <div class="col-md">
                        <select name="anos" class="form-select" onchange="this.form.submit()">
                            <option value="">Ano</option>
                        {% for ano in anos %}
                        <option value="{{ ano }}" {% if request.GET.anos == ano|stringformat:"s" %}selected{% endif %}>
                            {{ano}}
                        </option>
                        {% endfor %}
                        </select>
                    </div>
            
                    <!-- Botão de ação -->
                    <div class="col-md-auto">
                        {% if request.GET.ativo or request.GET.mes or request.GET.anos or request.GET.classe or request.GET.operacao or request.GET.classe_ativos %}
                            <a href="{% url "list_operacao" %}" class="btn btn-primary">
                                <i class="bi bi-x-lg"></i>
                            </a>
                        {% else %}
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-search"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <a href="#" class="btn btn-success float-end" 
            data-bs-toggle="modal" 
            data-bs-target="#cadastroModal"
            hx-get = {% url "create_operacao" %}
            hx-target = "#addContent"
            hx-swap = "innerHTML">
                <i class="bi bi-plus"></i>Cadastrar
            </a>
        </div>
    </div>
    <div class="table-responsive">
    {% if lists %}
       {% include "operacao/table.html" %}
    {% else %}
        <p class="h3">Nenhum registro encontrado.</p>
    {% endif %}
    </div>
    {% include "global/componentes/modal_forms.html" %}
    {% include "global/componentes/pagination.html" %}

{% endblock %} 