<footer class="footer mt-auto py-3 text-center">
  <div class="container">
    <span class="text-muted">© 2024 SGE</span>
  </div>
  {% include "global/componentes/modal_delete.html" %}
  {% block extra_scripts %}
   
    
      <script>
        showAndHideSuccessMessage(1000)
        {% if render_grafico %}
        //RENDERIZAR GRÁFICOS NA PÁGINA INICIAL-->
          chartAtivoPorClasse('{{ ativo_por_classe|safe }}');
          chartAtivoPorSetor('{{ ativo_por_setor|safe }}');
          chartComposicaoPatrimonio('{{ patrimonio|safe }}');
          chartDividendosMensal('{{ proventos_mensais|safe }}');
          chartComposicaoDividendos('{{ composicao_dividendos|safe }}');

        {% elif render_grafico_detail_ativo %}
            //RENDERIZAR GRÁFICOS NA PÁGINA DETALHES DO ATIVO
          chartOperacao('{{ grafico.grafico_operacao|safe }}')
          chartProventos('{{ grafico.grafico_proventos|safe }}')

        {% endif %}
      </script>

 
  {% endblock %}
</footer>
