
<tr id="trExpense">
    <td>{{ form.ativo }}</td>
    <td>{{ form.classe }}</td> 
    <td>{{ form.rentabilidade }}</td>
    {% comment %} {% if lists.classe != "Ação" %} {% endcomment %}
    <td>{{ form.ipca }}</td>
    {% comment %} {% endif %} {% endcomment %}
    <td>{{ lists.cotacao }}</td>
    <td>{{ lists.preco_teto|floatformat:2}}</td>  <!-- Exibindo o preco_teto calculado -->
    <td>{{ lists.diferenca|floatformat:2  }}</td>   <!-- Exibindo a diferença -->
    <td>{{ lists.margem_seguranca|floatformat:2  }}</td>  <!-- Exibindo a margem de segurança -->
    <td>{{ lists.recomendacao }}</td>  <!-- Exibindo a recomendação -->
    <td>
        <form method="POST" id="form-preco-teto"
      action="{% url 'update_preco_teto' object.pk %}"
      hx-post="{% url 'update_preco_teto' object.pk %}"  
      hx-target="#trExpense"
      hx-swap="outerHTML">
    {% csrf_token %}
    
    <button type="submit" class="btn btn-success">Ok</button>
</form>
    </form>
       
        <button type="submit" class="btn btn-danger"
        hx-get={% url "update_preco_teto" object.pk %}
        hx-target="#trExpense"
        hx-swap="outerHTML"
        
        
        >X</i></button>

    </td> 
</tr>
