{% extends 'global/base.html' %}
{% block title %}
  Preço Teto
{% endblock %}
{% block content %}
  {% include 'global/componentes/menssage.html' %}
  <p id="successMessageCotacao" style="display: none;" class="alert alert-success">
    <!-- A mensagem será inserida aqui -->
  </p>


    {% if lists %}
      {% include 'preco_teto/table.html' %}
    {% else %}
      <p class="h3">Nenhum registro encontrado.</p>
    {% endif %}

    {% include 'global/componentes/pagination.html' %}
    {% include 'global/componentes/modal_forms.html' %}
  
{% endblock %}
