<div class="row g-4 card">
  <ul class="nav nav-tabs  nav-pills" id="metaTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="fii-tab" data-bs-toggle="tab" data-bs-target="#fii" type="button" role="tab">PREÇO TETO FII</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="acoes-tab" data-bs-toggle="tab" data-bs-target="#acao" type="button" role="tab">PREÇO TETO AÇÕES</button>
    </li>
  </ul>

  <!-- ENVOLVA AS TABS AQUI -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="fii" role="tabpanel">
      {% include 'preco_teto/partials/table_fii.html' %}
    </div>

    <div class="tab-pane fade" id="acao" role="tabpanel">
      {% include 'preco_teto/partials/table_acao.html' %}
    </div>
  </div>
</div>
