<table class="table table-striped table-bordered text-center">
    <thead class="text-uppercase">
        <tr>
            <th>Ativo</th>
            <th>classe</th>
            <th>rentabilidade</th>
            {% comment %} {% if request.GET.name == "FII" %}
                <th>ipca</th>
            {% endif %} {% endcomment %}
            <th>cotacao</th>
            <th>Preco Teto</th>
            <th>Diferença</th>
            <th>Margem de segurança</th>
            <th>Recomendação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="tbodyAtivos">
        {% for list in lists %}
            <tr hx-target="this" hx-swap="outerHTML">
                <td>{{ list.ativo }}</td>
                <td>{{ list.classe }}</td>
                <td>{{ list.rentabilidade }}</td>
                {% comment %} {% if request.GET.name == "FII" %}
                    <td>{{ list.ipca }}</td>
                {% endif %} {% endcomment %}
                <td>{{ list.cotacao }}</td>
                   <td>R$ {{ list.preco_teto|floatformat:2 }}</td> <!-- Formato de moeda -->
                   <td  class="{% if list.diferenca > 0 %}text-success{% else %}text-danger{% endif %}">R$ {{ list.diferenca|floatformat:2 }}</td> <!-- Formato de moeda -->
                   <td class="{% if list.diferenca < 0 %}text-success{% else %}text-danger{% endif %} text-center">{{ list.margem_seguranca|floatformat:2 }}%</td>
                   <td class="{% if list.diferenca < 0 %}bg-success{% else %}bg-danger{% endif %}">{{ list.recomendacao }}</td>
                    <td style="width:8em">

                    <!--btn visualizar-->
                    {% comment %} <a href="#" class="btn btn-info btn-sm"><i class="bi bi-eye-fill"></i></a> {% endcomment %}

                    <!--btn Atualizar-->
                    <a href="#" class="btn btn-warning btn-sm" data-bs-toggle="modal"  hx-get = {% url "detail_preco_teto" list.pk %}
                    ><i class="bi bi-pencil-fill"></i></a>

                    <!--btn deleter-->
                    <a  onclick="modal(this)" 
                    data-page="preco" 
                    data-name="{{list.ativo}}" 
                    data-id="{{list.pk}}"
                     href="#" 
                     class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>