{% extends "global/base.html" %}
{% block title %}Ativos{% endblock title %}
{% block content %}
   <div class="container mt-5">
        <p class="display-6">Cadastrar ativos</p>
        <div class="card">
            <div class="card-body">
                <form method="POST" class="form">
                    {% csrf_token %}
                    
                    <div class="row g-3 align-items-center">
                        <div class="col-md-1">
                            {{ form.ticket.label_tag }}
                            {{ form.ticket }}
                        </div>
                        <div class="col-md-5">
                            {{ form.ativo.label_tag }}
                            {{ form.ativo }}
                        </div>
                        <div class="col-md-2">
                            {{ form.classe.label_tag }}
                            {{ form.classe }}
                        </div>
                        <div class="col-md-2">
                            {{ form.cnpj.label_tag }}
                            {{ form.cnpj }}
                        </div>
                        <div class="col-md-2">
                            {{ form.setor.label_tag }}
                            {{ form.setor }}
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary mt-3">Salvar registro</button>
                </form>
            </div>
        </div>
   </div>
{% endblock %}
