{% extends "global/base.html" %}
{% block title %}Ativos{% endblock title %}
{% block content %}
{% include "global/componentes/menssage.html" %}
<p id="successMessageCotacao" style="display: none;" class="alert alert-success">
    <!-- A mensagem será inserida aqui -->
</p>

<p class="h3">Ativos</p>
<div class="row mb-3">
    <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-start flex-wrap gap-2">

            <!-- Formulário de busca à esquerda -->
            <form action="#" method="GET" class="d-flex align-items-center gap-2" style="min-width: 400px;">
                <div class="input-group">
                    <input type="text" class="form-control" name="ativo" placeholder="Pesquisar por nome ou ticket" value="{{ request.GET.name }}"/>
                    {% if request.GET.ativo %}
                        <a href="{% url "list_ativo" %}" class="btn btn-primary">
                            <i class="bi bi-x-lg"></i>
                        </a>
                    {% else %}
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-search"></i>
                        </button>
                    {% endif %}
                </div>
            </form>

            <!-- Botões à direita -->
            <div class="d-flex gap-2">
                <a href="{% url 'atualizar_cotacao' %}" class="btn btn-success" id="atualizarCotacaoBtn">
                    <i class="bi bi-search"></i> Atualizar cotação
                </a>
                
                <a href="#" class="btn btn-primary"
                   data-bs-toggle="modal" 
                   data-bs-target="#cadastroModal"
                   hx-get="{% url 'create_ativo' %}"
                   hx-target="#addContent"
                   hx-swap="innerHTML">
                    <i class="bi bi-plus"></i> Cadastrar
                </a>
            </div>

        </div>
    </div>
</div>


    <div class="table-responsive">
    {% if lists %}
       {% include "ativos/table.html" %}
    {% else %}
        <p class="h3">Nenhum registro encontrado.</p>
    {% endif %}
    </div>
    {% include "global/componentes/pagination.html" %}
    {% include "global/componentes/modal_forms.html" %}
{% endblock %}
