<div class="card-header themes-dark">
  <!-- Título -->
  <div class="row">
    <div class="col-12">
      <span class="fs-4 text-white">
        <i class="bi bi-arrow-left-right"></i> Lista de Ativos
      </span>
    </div>
  </div>

  <!-- Formulário alinhado à direita -->
  <div class="row justify-content-end mt-2">
    <div class="col-auto">
      <form action="#" method="GET">
        <div class="row g-2 align-items-center">
          <!-- Campo de pesquisa -->
          <div class="col">
            <input type="text" class="form-control" name="ativo" placeholder="Nome ou ticket" value="{{ request.GET.ativo }}">
          </div>

          <!-- Classe -->
          <div class="col">
            <select name="classe_ativos" class="form-select" onchange="this.form.submit()">
              <option value="">Classe</option>
              <option value="Ação" {% if request.GET.classe_ativos == "Ação" %}selected{% endif %}>Ação</option>
              <option value="FII" {% if request.GET.classe_ativos == "FII" %}selected{% endif %}>FII</option>
              <option value="FII-Infra" {% if request.GET.classe_ativos == "FII-Infra" %}selected{% endif %}>FII-Infra</option>
              <option value="FII-Agro" {% if request.GET.classe_ativos == "FII-Agro" %}selected{% endif %}>FII-Agro</option>
            </select>
          </div>

          <!-- Setor -->
          <div class="col">
            <select name="setor" class="form-select" onchange="this.form.submit()">
              <option value="">Setor</option>
              {% for setor in setores %}
                <option value="{{ setor }}" {% if request.GET.setor == setor %}selected{% endif %}>{{ setor }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Botão de ação -->
          <div class="col-auto">
            {% if request.GET.ativo or request.GET.classe or request.GET.setor %}
              <a href="{% url 'list_ativo' %}" class="btn btn-primary">
                <i class="bi bi-x-lg"></i>
              </a>
            {% else %}
              <button type="submit" class="btn btn-primary">
                <i class="bi bi-search"></i>
              </button>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


{% if lists %}
<!-- Tabela responsiva -->
<div class="table-responsive mt-3">
  <table class="table table-striped align-middle fs-6 " id="table-ativo">
    <thead>
      <tr class="text-center">
        <th>Ativo</th>
        <th>Tiket</th>
        <th>Classe</th>
        <th>Setor</th>
        <th>QTD</th>
        <th>Investimento</th>
        <th>Dividendos</th>
        <th>Cotação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody id="tbodyAtivos">
      {% for list in lists %}
      <tr class="text-center">
        <td class="text-start" >{{ list.ativo }}</td>
        <td>{{ list.ticket }}</td>
        <td>{{ list.classe }}</td>
        <td>{{ list.setor }}</td>
        <td>{{ list.qtd }}</td>
        <td>{{ list.investimento }}</td>
        <td>{{ list.dividendos }}</td>
        <td>{{ list.cotacao }}</td>
        <td>
          <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-1">
            <a href="#" class="btn btn-warning btn-sm" data-bs-toggle="modal" 
              data-bs-target="#cadastroModal"
              hx-get="{% url 'update_ativo' list.pk %}"
              hx-target="#addContent"
              hx-swap="innerHTML">
              <i class="bi bi-pencil-fill"></i>
            </a>

            <a href="{% url 'detail_ativo' list.pk %}" class="btn btn-info btn-sm">
              <i class="bi bi-eye-fill"></i>
            </a>

            <a onclick="modal(this)" 
              data-page="ativo" 
              data-name="{{ list.ativo }}" 
              data-id="{{ list.pk }}"
              href="#" 
              class="btn btn-danger btn-sm">
              <i class="bi bi-trash-fill"></i>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<br />
<p class="h3">Nenhum registro encontrado.</p>
{% endif %}
