<div class="container mt-4">
    <div class="row justify-content-center">
        <!-- Primeira Linha -->
        <div class="col-md-4 text-center">
            <h5 class="text-center mb-3">Patrimônio total</h5>
            <canvas id="sales_value"></canvas>
        </div>
        
        <div class="col-md-4 text-center">
            <h5 class="text-center mb-3">Total Investido</h5>
            <canvas id="sales_deily"></canvas>
        </div>
        
        <div class="col-md-4 text-center">
            <h5 class="text-center mb-3">Valorização das cotas/Ações</h5>
            <canvas id="category_product"></canvas>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <!-- Segunda Linha -->
        <div class="col-md-4 text-center">
            <h5 class="text-center mb-3">Dividendos recebidos</h5>
            <canvas id="product_brand_1"></canvas>
        </div>
        
        <div class="col-md-4 text-center">
            <h5 class="text-center mb-3">Rentabilidade</h5>
            <canvas id="product_brand_2"></canvas>
        </div>
        
        <div class="col-md-4 text-center">
            <h5 class="text-center mb-3">Produtos por marca</h5>
            <canvas id="product_brand_3"></canvas>
        </div>
    </div>
</div>
