/* **************************************************************************/
/* ********************   ESTILIZAÇÃO DOS GRAFICOS   ***********************/
/* *************************************************************************/
@import url('variables.css');

.graficos-container {
    display: flex;
    justify-content: flex-start; /* Alinha os gráficos à esquerda */
    align-items: center; /* Alinha os gráficos verticalmente */
    gap: 5px; /* Reduz ao mínimo o espaço entre os gráficos */
    border:  2px solid #343a40;
    margin-bottom: 30px;
    padding: 10px;
}

.grafico{ 
    height: 300px;
    padding: 0;
    position: relative;
}
.graficos-container .grafico:nth-child(1) {
    width:var(--container-grafico)
   }
.graficos-container .grafico:nth-child(2) {
    width: 45vw; /* Ajuste a largura conforme necessário */
    display: flex;
}

.graficos-container form {
    position: absolute; /* Posiciona o formulário de forma absoluta dentro do contêiner */
    margin: 10px 0 0 10px ;
    z-index: 10; /* Garante que o formulário fique sobre os outros elementos */
}


#ativo-por-setor{
    width: 100%;
    height: 100% !important;
    padding: 0;
   
}
/* 
#container-patrimonio{
    border:1px solid #fff;
} */

#container-patrimonio .col-md-4{

    height: 100px;
}

#composicao-patrimonio .card{height: 120px;}

.card{
    
    justify-content: center; /* alinha verticalmente */
    align-items: center;     /* alinha horizontalmente */
   
}

/* CSS para mudar a cor apenas do card de Investimento */
#composicao-patrimonio .col-md-4:nth-child(2) .card {
    background-color: #800000 !important; /* Marrom escuro */
    color: white; /* Garante contraste no texto */
}

#composicao-patrimonio .col-md-4:nth-child(4) .card {
    background-color: #0000ff!important; /* Marrom escuro */
    color: white; /* Garante contraste no texto */
}

#composicao-patrimonio .col-md-4:nth-child(5) .card {
    background-color: #ff0080 !important; /* Marrom escuro */
    color: white; /* Garante contraste no texto */
}

#composicao-patrimonio .col-md-4:nth-child(6) .card {
    background-color:#8000ff!important; /* Marrom escuro */
    color: white; /* Garante contraste no texto */
}

#composicao-patrimonio .metrica{font-size: 2em; font-weight: none;}


/*gráficos dividendos*/
#chart-proventos-mensais{width:var(--container-grafico)}
#metrica-dividendos .card{height: 120px;}
#chart-composicao-dividendos{
    width: calc(var(--container-grafico) + 20vw);

}