.ag-theme-custom {
    --ag-background-color: #f5f5f5; /* Cor de fundo geral */
    --ag-header-background-color: #d9edf7; /* Cor de fundo do cabeçalho */
    --ag-odd-row-background-color: #ffffff; /* Cor para linhas ímpares */
    --ag-even-row-background-color: #e9ecef; /* Cor para linhas pares */
}
#modalAtivoForm{
    max-height: 400px; overflow-y:auto
}


.header-meta{margin:20px; padding:10px; border: 1px solid #ffffff; background-color: #d9edf7; color: #000000;}
#container_ipca{display: none;}

/*estilização tabela pagina plan meeta*/
.editable-meta {
    display: inline-block;
    width: 100%;
    min-width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ced4da; /* Cor do Bootstrap */
    border-radius: 5px;
    
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1), /* Sombra interna para baixo relevo */
                0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra externa para dar profundidade */
    transition: all 0.2s ease-in-out;
}

/* Quando a célula é clicada para edição */
.editable-meta:focus,
.editable-meta:active {
    outline: none;
    border:2px solid;
    border-color: #80bdff; /* Azul Bootstrap */
    box-shadow: inset 1px 1px 3px rgba(12, 73, 194, 0.2), /* Sombra interna para baixo relevo */
                0 4px 8px rgba(12, 73, 194, 0.2); /* Aumento da sombra externa */
    
}


#valor-investimento:empty:before {
    content: "Valor da aplicação"; /* Texto do placeholder */
    color: gray; /* Cor do placeholder */
    font-style: italic; /* Estilização opcional */
    pointer-events: none; /* Evita que o texto bloqueie a edição */
}

/*Estilização pagina pagamento proventos*/
.ativo {
    max-height: 400px; /* Define altura máxima */
    overflow-y: auto; /* Adiciona rolagem vertical */
    position: relative;
}

.table thead th {
    position: sticky;
    top: -2px;
    background: #343a40; /* Cor do cabeçalho */
    color: white;
    z-index: 2;
}

.table tfoot td {
    position: sticky;
    bottom: 0;
    background: #ffc107; /* Cor do rodapé */
    z-index: 2;
}

.table {
    border-collapse: collapse; /* Remove espaços extras */
    width: 100%;
}

/* CSS para o pop-up de carregamento da pagina dividendos */
#loading-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #008080;
    color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}

/* estilização do container do grafico de ativos*/
.graficos-container {
    display: flex;
    justify-content: flex-start; /* Alinha os gráficos à esquerda */
    align-items: center; /* Alinha os gráficos verticalmente */
    gap: 5px; /* Reduz ao mínimo o espaço entre os gráficos */
}

.grafico{ 
    height: 300px;
    border: 1px solid #fff;
    padding: 0;
}
.graficos-container .grafico:nth-child(1) {
    width: 30vw; /* Ajuste a largura conforme necessário */
   }
.graficos-container .grafico:nth-child(2) {
    width: 45vw; /* Ajuste a largura conforme necessário */
    display: flex;
}

.graficos-container form {
    position: absolute; /* Posiciona o formulário de forma absoluta dentro do contêiner */
    margin: 10px 0 0 10px ;

    z-index: 10; /* Garante que o formulário fique sobre os outros elementos */
}


#ativo-por-setor{
    width: 100%;
    height: 100% !important;
    border: 1px solid #ffc107;
    padding: 0;
   
}

#container-patrimonio{
    border:1px solid #fff;
}
#container-patrimonio .col-md-4{
    border:1px solid #fff;
    height: 100px;
}