<div class="col-lg-6">
      <div class="card-header themes-dark">   <span class="me-2 fs-4 text-white">
       <i class="bi-cash-coin"></i> Pagamento Ação
      </span></div>
      <div class="card-body p-0 table-pagamentos">

        {% if not acao %}
        <p class="text-center">Não há proventos até o momento</p>
        {% else %}

        <table class="table table-striped align-middle fs-6 ">
          <thead>
            <tr><th>Ativo</th><th>Valor</th><th>Data</th></tr>
          </thead>
          <tbody>
              {% for acao in acoes %}
              <tr>
                  <td>{{acao.ativo}}</td>
                  {% comment %} <td>R$ {{acao.acumulado|floatformat:2}}</td> {% endcomment %}
                  <td>{{acao.valor_recebido}}</td>
                  <td>{{acao.data_pgto|date:"d/m/Y"}}</td>
              </tr>
              {% endfor %}
          </tbody>
          <tfoot class="table-dark">
              <tr>
                  <td colspan="1" class="fw-bold">TOTAL</td>
                  {% comment %} <td class="fw-bold">R$ {{proventos_acumulados_acao|floatformat:2}}</td> {% endcomment %}
                  <td class="fw-bold" colspan="1">R$ {{total_proventos_acao|floatformat:2}}</td>
                  <td colspan="1"></td>
              </tr>
          </tfoot>
        </table>
        {% endif %}
      </div>
    </div>