<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabelas de Proventos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>ATIVOS</th>
                            <th>PROVENTOS ACUMULADOS</th>
                            <th>VALOR</th>
                            <th>DATA DO PAGAMENTO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>HSML11</td><td>R$ 183,70</td><td>R$ 6,50</td><td>11/03/2025</td></tr>
                        <tr><td>BODB11</td><td>R$ 421,01</td><td>R$ 32,55</td><td>11/03/2025</td></tr>
                        <tr><td>KDIF11</td><td>R$ 206,55</td><td>R$ 8,30</td><td>11/03/2025</td></tr>
                        <tr><td>KNCR11</td><td>R$ 264,38</td><td>R$ 12,84</td><td>17/03/2025</td></tr>
                        <tr><td>TVRI11</td><td>R$ 106,47</td><td>R$ 10,30</td><td>18/03/2025</td></tr>
                        <tr><td>XPLG11</td><td>R$ 201,77</td><td>R$ 9,02</td><td>18/03/2025</td></tr>
                        <tr><td>KNR11</td><td>R$ 170,72</td><td>R$ 10,00</td><td>18/03/2025</td></tr>
                        <tr><td>MXRF11</td><td>R$ 498,16</td><td>R$ 24,30</td><td>18/03/2025</td></tr>
                        <tr><td>JSRE11</td><td>R$ 115,03</td><td>R$ 4,80</td><td>18/03/2025</td></tr>
                        <tr><td>JURO11</td><td>R$ 226,75</td><td>R$ 10,00</td><td>18/03/2025</td></tr>
                        <tr><td>HGLG11</td><td>R$ 268,00</td><td>R$ 11,00</td><td>18/03/2025</td></tr>
                        <tr><td>MALL11</td><td>R$ 104,36</td><td>R$ 8,50</td><td>18/03/2025</td></tr>
                        <tr><td>VINO11</td><td>R$ 67,40</td><td>R$ 3,05</td><td>18/03/2025</td></tr>
                    </tbody>
                    <tfoot class="table-warning">
                        <tr>
                            <td colspan="3" class="fw-bold">TOTAL A RECEBER</td>
                            <td>R$ 157,86</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>ATIVOS</th>
                            <th>PROVENTOS ACUMULADOS</th>
                            <th>VALOR</th>
                            <th>DATA DO PAGAMENTO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>KLBN11</td><td>R$ 60,90</td><td>R$ 7,00</td><td>12/03/2025</td></tr>
                        <tr><td>KLBN11</td><td>R$ 60,90</td><td>R$ 1,46</td><td>12/03/2025</td></tr>
                        <tr><td>ITSA4</td><td>R$ 44,58</td><td>R$ 7,45</td><td>07/03/2025</td></tr>
                        <tr><td>KLBN11</td><td>R$ 60,90</td><td>R$ 7,00</td><td>12/03/2025</td></tr>
                        <tr><td>BBSE3</td><td>R$ 356,17</td><td>R$ 159,06</td><td>06/03/2025</td></tr>
                        <tr><td>BBSE3</td><td>R$ 356,17</td><td>R$ 2,59</td><td>06/03/2025</td></tr>
                        <tr><td>ITSA4</td><td>R$ 44,58</td><td>R$ 14,69</td><td>07/03/2025</td></tr>
                    </tbody>
                    <tfoot class="table-warning">
                        <tr>
                            <td colspan="3" class="fw-bold">TOTAL A RECEBER</td>
                            <td>R$ 199,25</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
