{% extends "global/base.html" %}
{% block title %}Pagamento de dividendos{% endblock title %}
{% block content %}
<p class="h3">Pagamento de dividendos</p>

<form action="#" method="GET" class="filter-product">
    <div class="row">
        <!-- Mês -->
        <div class="col-md-6 form-group">
            <label for="mes" class="form-label">Mês</label>
            <select id="mes" class="form-select" name="mes" onchange="this.form.submit();">
                {% for mes in meses %}
                    <option value="{{ mes.0 }}" {% if mes.0 == mes_selecionado %}selected{% endif %}>
                        {{ mes.1 }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Ano -->
        <div class="col-md-6 form-group">
            <label for="ano" class="form-label">Ano</label>
            <select id="ano" class="form-select" name="ano" onchange="this.form.submit();">
                {% for ano in anos %}
                    <option value="{{ ano }}" {% if ano|stringformat:"s" == ano_selecionado %}selected{% endif %}>
                        {{ ano }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>

<br/>

<div class="container mt-4">
    <div class="row">
        {% include "pgto_proventos/table_fii.html" %}
        {% include "pgto_proventos/table_acao.html" %}
        {% include "pgto_proventos/tbl_rend_mensal.html" %}
    </div>
</div>

{% include "global/componentes/modal_forms.html" %}
{% include "global/componentes/pagination.html" %}

{% endblock %}
